<!DOCTYPE html>
<html>
  <head>
    <title>SAT</title>
    <script src="/javascripts/application.js" type="text/javascript"></script>
    <%= stylesheet '/stylesheets/application.css' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
